// @formatter:off
/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.him188.ani.client.apis

import me.him188.ani.client.models.AniBangumiMergeState
import me.him188.ani.client.models.AniBangumiMergeSummary
import me.him188.ani.client.models.AniListSyncCommandsSortBy
import me.him188.ani.client.models.AniLoginWithRefreshTokenRequest
import me.him188.ani.client.models.AniOAuthRedirectResponse
import me.him188.ani.client.models.AniPaginatedResponse1BangumiSyncCommandEntity
import me.him188.ani.client.models.AniResolveMergeConflictsRequest
import me.him188.ani.client.models.AniUserAuthRoutingAuthenticationResponse
import me.him188.ani.client.models.AniUserAuthRoutingLoginResponse

import me.him188.ani.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BangumiAniApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 绑定 Bangumi 账号
     * 绑定 Bangumi 账号
     * @param requestId
     * @param os
     * @param arch
     * @return AniOAuthRedirectResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun bind(requestId: kotlin.String, os: kotlin.String, arch: kotlin.String): HttpResponse<AniOAuthRedirectResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        os?.apply { localVariableQuery["os"] = listOf("$os") }
        arch?.apply { localVariableQuery["arch"] = listOf("$arch") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/bangumi/bind",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 执行队列中的命令
     * 执行队列中的命令
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun executeSyncCommands(): HttpResponse<kotlin.Any> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v2/bangumi/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取 Bangumi 收藏合并状态
     * 待处理的冲突列表 (含条目名称) 与上次全量同步的自动合并明细 (最多 100 条). 会先触发一次同步 (不等待).
     * @return AniBangumiMergeState
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMergeState(): HttpResponse<AniBangumiMergeState> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/bangumi/sync/merge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取 Bangumi 收藏合并摘要
     * 待处理的冲突字段数与上次全量同步自动合并的差异数. 会先触发一次同步 (不等待): 首次绑定的冲突在同步结束后才可见, 客户端可据 &#x60;syncInProgress&#x60; / &#x60;lastSyncedAt&#x60; 轮询. 首次绑定 (含换绑 / 解绑后重绑) 的对账完成之前不展示旧账号的冲突与报告: &#x60;conflictCount &#x3D; 0&#x60;, &#x60;lastSyncedAt &#x3D; null&#x60;.
     * @return AniBangumiMergeSummary
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getMergeSummary(): HttpResponse<AniBangumiMergeSummary> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/bangumi/sync/merge/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取登录结果
     * 获取登录结果
     * @param requestId
     * @return AniUserAuthRoutingLoginResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getToken(requestId: kotlin.String): HttpResponse<AniUserAuthRoutingLoginResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/bangumi/result",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取队列中的 Bangumi 同步命令
     * 获取队列中的 Bangumi 同步命令
     * @param offset  (optional)
     * @param limit  (optional)
     * @param sortBy  (optional)
     * @return AniPaginatedResponse1BangumiSyncCommandEntity
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun listSyncCommands(offset: kotlin.Int? = null, limit: kotlin.Int? = null, sortBy: AniListSyncCommandsSortBy? = null): HttpResponse<AniPaginatedResponse1BangumiSyncCommandEntity> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        offset?.apply { localVariableQuery["offset"] = listOf("$offset") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        sortBy?.apply { localVariableQuery["sortBy"] = listOf("${ sortBy.value }") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/bangumi/sync/commands",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 使用已有的 Bangumi refresh token 绑定账号
     * 使用已有的 Bangumi refresh token 绑定账号
     * @param aniLoginWithRefreshTokenRequest
     * @return AniUserAuthRoutingAuthenticationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun loginWithRefreshToken(aniLoginWithRefreshTokenRequest: AniLoginWithRefreshTokenRequest): HttpResponse<AniUserAuthRoutingAuthenticationResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody = aniLoginWithRefreshTokenRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v2/users/bangumi/loginWithRefreshToken",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 获取 Bangumi OAuth 授权链接
     * 获取 Bangumi OAuth 授权链接
     * @param requestId
     * @param os
     * @param arch
     * @return AniOAuthRedirectResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun oauth(requestId: kotlin.String, os: kotlin.String, arch: kotlin.String): HttpResponse<AniOAuthRedirectResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        os?.apply { localVariableQuery["os"] = listOf("$os") }
        arch?.apply { localVariableQuery["arch"] = listOf("$arch") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/bangumi/oauth",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * Bangumi OAuth 回调
     * Bangumi OAuth 回调
     * @param code
     * @param state
     * @return void
     */
    open suspend fun oauthCallback(code: kotlin.String, state: kotlin.String): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        code?.apply { localVariableQuery["code"] = listOf("$code") }
        state?.apply { localVariableQuery["state"] = listOf("$state") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/bangumi/oauth/callback",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 解决 Bangumi 收藏冲突
     * 按用户对每个冲突字段的选择解决冲突: 选 Animeko 则把 Animeko 的值推送到 Bangumi, 选 Bangumi 则写入本地. 找不到的冲突 / 字段忽略 (幂等). 返回剩余的合并状态.
     * @param aniResolveMergeConflictsRequest
     * @return AniBangumiMergeState
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun resolveMergeConflicts(aniResolveMergeConflictsRequest: AniResolveMergeConflictsRequest): HttpResponse<AniBangumiMergeState> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody = aniResolveMergeConflictsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/v2/bangumi/sync/merge/resolve",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 解绑 Bangumi 账号
     * 解绑 Bangumi 账号
     * @return AniUserAuthRoutingAuthenticationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun unbind(): HttpResponse<AniUserAuthRoutingAuthenticationResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v2/users/bangumi/bind",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}

// @formatter:on

