// @formatter:off
/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package me.him188.ani.client.apis

import me.him188.ani.client.models.AniOAuthProvidersResponse
import me.him188.ani.client.models.AniOAuthRedirectResponse
import me.him188.ani.client.models.AniUserAuthRoutingAuthenticationResponse
import me.him188.ani.client.models.AniUserAuthRoutingLoginResponse

import me.him188.ani.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class OAuthAniApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * OAuth 回调, 由第三方平台重定向用户浏览器访问
     * OAuth 回调, 由第三方平台重定向用户浏览器访问
     * @param provider
     * @param state
     * @param code  (optional)
     * @param error  (optional)
     * @return void
     */
    open suspend fun callback(provider: kotlin.String, state: kotlin.String, code: kotlin.String? = null, error: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        state?.apply { localVariableQuery["state"] = listOf("$state") }
        code?.apply { localVariableQuery["code"] = listOf("$code") }
        error?.apply { localVariableQuery["error"] = listOf("$error") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/oauth/{provider}/callback".replace("{" + "provider" + "}", "$provider"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取服务器已启用的第三方登录平台
     * 获取服务器已启用的第三方登录平台
     * @return AniOAuthProvidersResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getProviders(): HttpResponse<AniOAuthProvidersResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/oauth/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取登录结果
     * 获取登录结果
     * @param requestId
     * @return AniUserAuthRoutingLoginResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getResult(requestId: kotlin.String): HttpResponse<AniUserAuthRoutingLoginResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/oauth/result",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 解绑第三方账号
     * 解绑第三方账号
     * @param provider
     * @return AniUserAuthRoutingAuthenticationResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun removeBind(provider: kotlin.String): HttpResponse<AniUserAuthRoutingAuthenticationResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/v2/users/oauth/{provider}/bind".replace("{" + "provider" + "}", "$provider"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取第三方登录的 OAuth 授权链接, 用于为当前用户绑定第三方账号
     * 获取第三方登录的 OAuth 授权链接, 用于为当前用户绑定第三方账号
     * @param provider
     * @param requestId
     * @param os
     * @param arch
     * @return AniOAuthRedirectResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun startBind(provider: kotlin.String, requestId: kotlin.String, os: kotlin.String, arch: kotlin.String): HttpResponse<AniOAuthRedirectResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        os?.apply { localVariableQuery["os"] = listOf("$os") }
        arch?.apply { localVariableQuery["arch"] = listOf("$arch") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/oauth/{provider}/bind".replace("{" + "provider" + "}", "$provider"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 获取第三方登录的 OAuth 授权链接, 用于登录或注册
     * 获取第三方登录的 OAuth 授权链接, 用于登录或注册
     * @param provider
     * @param requestId
     * @param os
     * @param arch
     * @return AniOAuthRedirectResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun startLogin(provider: kotlin.String, requestId: kotlin.String, os: kotlin.String, arch: kotlin.String): HttpResponse<AniOAuthRedirectResponse> {

        val localVariableAuthNames = listOf<String>("auth-jwt")

        val localVariableBody =
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        requestId?.apply { localVariableQuery["requestId"] = listOf("$requestId") }
        os?.apply { localVariableQuery["os"] = listOf("$os") }
        arch?.apply { localVariableQuery["arch"] = listOf("$arch") }
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/v2/users/oauth/{provider}/login".replace("{" + "provider" + "}", "$provider"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


}

// @formatter:on

